.cursor {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  &.small {
    width: 5px;
    height: 5px;
    border: 2px solid $white;
    border-radius: 50%;
  }

  &.big {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20rem;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
}

@keyframes stretch {
  0% {
    opacity: 0.2;
    background-color: #54d3ad;
  }
  50% {
    background-color: #ea4c89;
  }
  100% {
    background-color: #ffd54f;
  }
}
