.hobbies-sc{
    margin-bottom: 40px;
    .hobbies-content{
        padding-bottom: 20px;
        position: relative;

        & > .dots-shape{
            position: absolute;
            left: -10px;
            bottom: 0;
        }
    }
    .hobbies-list{
        padding: 16px 0;
        margin-left: 24px;
        column-gap: 40px;
    }
    .hobbies-item{
        column-gap: 10px;
        padding: 12px 0;
    }
    .hobbies-icon{
        color: $mauve;
        max-width: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    .hobbies-text{
        margin-top: 6px;
    }
}