// all variables & configuration
$font-primary: 'Outfit', sans-serif;;
$white: #ffffff;
$black: #000000;
$raisin-black: #262833;
$gray: #828282;
$mauve: #7f4bd3;
$night: #15161a;
$payne-gray:#585d6c;
$transition-default: all 300ms ease-in-out;
$shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;